@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";


/* IMPORTACIÓN DE FUENTES */
/* Hastegi */
@font-face {
  font-family: 'Hastegi';
  src: url('/fonts/Hastegi.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* The Darling */
@font-face {
  font-family: 'The Darling';
  src: url('/fonts/TheDarling.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Handwriting */
@font-face {
  font-family: 'handwriting-black-draft';
  src: url('/fonts/handwriting-black-draft_DEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



:root {
  /* PALETA OFICIAL BLAKIA */
  --blakia-brown: hsl(11, 29%, 29%);
  /* RGB(96, 61, 53) - Principal */
  --blakia-bone: hsl(45, 47%, 93%);
  /* RGB(246, 242, 230) - Papel Rajado */
  --blakia-dark: hsl(60, 4%, 11%);
  /* RGB(29, 29, 27) - Texto/Nombres */
  --blakia-white: hsl(0, 0%, 100%);
  /* RGB(255, 255, 255) */
  --blakia-gray-bg: hsl(240, 14%, 98%);
  /* RGB(249, 249, 250) - Fondo Menú  */
  --blakia-gold: hsl(38, 31%, 63%);
  /* RGB(187, 166, 134) - Fondo Menú Móvil */
  --blakia-teal: hsl(189, 100%, 35%);
  /* RGB(0, 151, 178) - Botón App */
  --blakia-placeholder: hsl(0, 0%, 78%);
  /* RGB(198, 198, 197) */
  
  /* PALETA DARK */
  --blakia-dark: hsl(60, 4%, 11%);
  /* RGB(29, 29, 27) - FONDO */
  --blakia-white: hsl(0, 0%, 100%);
  /* RGB(255, 255, 255) Resaltado de algunas palabras/letras */
  --blakia-bone-dark: hsl(35.51, 35%, 72%);
  /* RGB(209, 189, 160) TEXTO/BOTONES */
  --blakia-gold-dark: hsl(45, 47%, 93%);
  /* RGB(246, 242, 230) */
  --blakia-brown: hsl(11, 29%, 29%);
  /* RGB(96, 61, 53) */

  /* SEMANTIC TOKENS */
  --background: var(--blakia-bone);
  --foreground: var(--blakia-brown);

  /* COLORES DE BOTÓN - CLARO */
  --btn-text: var(--blakia-white);
  --btn-bg: var(--blakia-brown);

  /* FONDO CLARO */
  background-image: url('/img/claro/papel_rajado.svg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.dark {
  --background: var(--blakia-dark);
  --foreground: var(--blakia-white);

  /* COLORES DE BOTÓN - DARK */
  --btn-text: var(--blakia-brown);
  --btn-bg: var(--blakia-white);

  /* FONDO OSCURO */
  background-image: url('/img/oscuro/papel_rajado_oscuro.svg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@theme inline {
  /* COLORES PERSONALIZADOS */
  --color-blakia-brown: var(--blakia-brown);
  --color-blakia-white: var(--blakia-white);
  --color-blakia-bone: var(--blakia-bone);
  --color-blakia-bone-dark: var(--blakia-bone-dark);
  --color-blakia-dark: var(--blakia-dark);
  --color-blakia-teal: var(--blakia-teal);
  --color-blakia-placeholder: var(--blakia-placeholder);
  --color-btn-bg: var(--btn-bg);
  --color-btn-text: var(--btn-text);

  /* TIPOGRAFÍAS DEL DISEÑO */
  --font-montserrat: 'Montserrat';
  --font-hastegi: 'Hastegi', sans-serif;
  --font-darling: 'The Darling', cursive;
  --font-handwriting: 'handwriting-black-draft';
  --font-happy: 'Happy Time', serif;

  /* SHADOWS ESPECÍFICAS  */
  --shadow-blakia-btn: 0 4px 10px rgba(0, 0, 0, 0.35);
  /* Botón "Empieza ahora" */
  --shadow-paper: 0 4px 8px rgba(0, 0, 0, 0.75);
  /* Efecto papel rajado */
}



/* Animación HERO, efecto fade-up */
@theme {
  @keyframes fade-up {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.animate-fade-up {
  animation: fade-up 1s ease-out forwards;
}



/* ESTILOS BASE */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
  transition: background-color 0.5s ease, background-image 0.5s ease, color 0.5s ease;
}

.btn-principal {
  background-color: var(--btn-bg);
  color: var(--btn-text);
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-principal:hover {
  opacity: 0.85;
  transform: scale(1.01); 
}