---
import { Sparkles } from "lucide-react";
---

<section
  id="hero"
  class="relative min-h-screen flex items-center justify-center overflow-hidden"
>
  <img
    src="/img/FONDO_PRINCIPAL_HERO.jpg"
    alt="Fondo Blakia"
    class="absolute inset-0 h-full w-full object-cover z-0"
  />

  <div class="absolute bottom-20 left-0 z-10 animate-fade-up">
    <div class="w-125">
      <img 
        src="/img/asiento_hombre.png" 
        class="w-full h-full object-cover" 
        alt="Asiento hombre"
      />
    </div>
  </div>

  <div class="absolute bottom-20 left-0 z-20 animate-fade-up">
    <div class="w-125">
      <img 
        src="/img/hombre.png" 
        class="w-full h-full object-cover" 
        alt="Hombre Izquierda"
      />
    </div>
  </div>

  <div class="absolute bottom-20 right-0 z-20 animate-fade-up">
    <div class="h-125">
      <img 
        src="/img/dios_moderno.png" 
        class="w-full h-full object-cover" 
        alt="Dios moderno Derecha"
      />
    </div>
  </div>

  <!-- <div class="absolute bottom-0 left-0 w-full z-30 flex flex-col pointer-events-none">
    <img 
      src="/img/papel_rajado.svg" 
      class="w-full h-auto rotate-180 translate-y-[2px]" 
      alt=""
    />
    <div class="h-10 w-full bg-blakia-cream"></div>
  </div> -->

  <div
    class="container relative z-40 flex flex-col items-center text-center max-w-4xl px-4 pt-12"
  >
    {/* Badge with Gold Accent - Consistent with other sections */}
    <div
      class="inline-flex items-center gap-2 rounded-full border border-blakia-brown bg-white px-6 py-1 mb-8"
    >
      <Sparkles
        className="size-5 group-hover:rotate-12 transition-transform text-blakia-brown"
      />
      <span
        >Consultora tecnológica especializada en Inteligencia Artificial</span
      >
    </div>

    <h1 class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-handwriting mb-8">
      El <span class="text-white">renacer</span> de tu empresa
    </h1>

    <p class="max-w-2xl mb-8 text-2xl font-hastegi">
      Transformamos tareas manuales en sistemas autónomos eficientes. 
      Recupera tu tiempo y escala tu empresa con tecnología de vanguardia.
    </p>

    <div class="flex items-center">
      <button class="relative z-20 h-12 px-8 bg-blakia-brown text-white font-hastegi text-2xl
        rounded-full shadow-blakia-btn 
        hover:scale-105 transition-transform duration-300">
        Empieza ahora
      </button>

      <button class="relative flex items-center gap-2 z-10 h-12 pl-12 pr-8 -ml-8 bg-white text-gray-500 font-hastegi text-2xl 
        rounded-r-full border border-blakia-brown font-bold
        hover:bg-gray-200 transition-colors duration-300">
        <Sparkles
          className="size-3.5 group-hover:rotate-12 transition-transform text-gray-500"
        />
        Ver soluciones
      </button>
    </div>
  </div>
</section>
